:root{
    --ltpurple: #C8B8DB;
    --purple: #50254C;
    --violet: #70587C;
    --snow: #F9F4F5;
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    
}
.mainContainer{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--purple);
    color:var(--snow);


}
.quizContainer{
    width: 80%;
    border: 4px solid var(--ltpurple);
    padding: 20px;
    display: none;
    
}

/* HEADER /////////////////////// */

.upperhead{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.info{
    display: flex;
    flex-direction: column;
}
.info > div{
    display: flex;
    
}
.info h3{
    margin-right: 10px;
}
.lowerhead h1{
    text-align: center;
    font-size: 40px;
    
}

/* BODY //////////////////// */

.question{
    text-align: center;
    border: 1px solid black;
    margin: 5px 0 25px 0;
    padding: 15px 20px;
    border-radius: 25px;
    background-color: var(--ltpurple);
    color: black;
}
.options{
    margin: 10px 0;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    color: black;
}
.options li{
    width: 45%;
    background-color: var(--ltpurple);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 5px 0;
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px 10px;
    /*for aligning text*/
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: bolder;
    transition: all 0.2s;
    /* font-family: sans-serif; */
}
.options li:hover{
    transform: scale(1.1);
    color: var(--violet);
    cursor: pointer;
}

/* FOOTER/////////// */
.footer{
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px 0 0 0;

}
.timer{
    display: flex;
}


/* CSS */
.button-68 {
  appearance: none;
  backface-visibility: hidden;
  background-color: var(--violet);
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 21px;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 1;
  outline: none;
  overflow: hidden;
  padding: 13px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
  margin-bottom: 10px;
  width: 160px;
}

.button-68:hover {
  background-color:black;
  color: var(--violet);
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
}

.button-68:active {
  transform: translateY(2px);
  transition-duration: .35s;
}

.button-68:hover {
  box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
}

/* STart btn */

#startquizbtn{
    padding: 20px;
    font-size: 30px;
    background-color: var(--violet);
    color: var(--snow);
    outline: none;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s;
    border: none;
    /* display: none; */
}
#startquizbtn:hover{
    background-color: black;
    color: var(--purple);
    transform: scale(1.1);
}

/* RESULTS CONTiner  */
.resultCont{
    font-size: 25px;
   text-align: left;
   display: none;
}

/* REGISTRATION
 */
 .registration{
     
     width: 40%;
     border: 5px solid var(--ltpurple);
     padding: 20px;
     font-size: 26px;
     display: flex;
     flex-direction: column;
 }
 
 .registration input{
     /* display: inline; */
     /* text-align: right; */
     margin: 10px 0 10px 0;
     padding: 5px;
     font-size: 18px;
     border: none;
    
 }
 .registration input:focus{
     outline: none;
     border: none;

 }
.resultCont th{
    padding: 5px;
    padding-right: 40px;
}
@media screen and (max-width: 596px){
    .options li{
        font-size: 15px;
        width: 47%;
    }
    .resultCont{
        font-size: 17px;
    }
}